@model CProject.ViewModels.CreateUserModel

@{
    ViewData["Title"] = "Create";
}

@*<h1>Создать</h1>*@

<h4>Добавить пользователя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Электронная почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>

            <label>Роль</label>
            <div>
                <input type="radio" name="Role" value="Storekeeper" checked />
                <label for="Role">Кладовщик</label>
            </div>
            <div>
                <input type="radio" name="Role" value="Logistician" />
                <label for="Role">Логист</label>
            </div>
            <div>
                <input type="radio" name="Role" value="Wholesaler" />
                <label for="Role">Оптовик</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}