@model IEnumerable<CProject.Models.User>
@{
    ViewBag.Title = "Зарегестрированные пользователи";
}
<table class="table">
    <tr><td>Логин</td><td>Пароль</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Login</td><td>@item.Password</td></tr>
    }
</table>